@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideDown {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-down {
    animation: slideDown 0.5s ease-in-out;
  }
  
  .placeholder-blink::placeholder {
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
   